.Header {
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(225, 225, 219);
}
