.Login {
    margin: 8px;
    padding: 16px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.6);
    display: block;
    background-color: rgba(225, 225, 219);
    color: black;
}

.Login h2 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.Login button {
    margin-top: 4px;
    border: 2px solid #aaa;
    border-radius: 4px;
    background-color: rgba(225, 225, 219);
    color: black;
}

.Login button:disabled {
    color: gray;
}

.FormRow {
    margin-bottom: 4px;
}

.FormRow label {
    display: block;
    text-align: left;
}

.FormRow input {
    font-size: 16px;
    padding: 4px;
    color: black;
    background-color: rgba(225, 225, 219);
    border: 2px solid #aaa;
    border-radius: 4px;
}

.Login .error {
    color: red;
    margin-bottom: 8px;
}

