.StudentList {
    margin: 8px;
    padding: 16px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.6);
    display: block;
    background-color: rgba(225, 225, 219);
    color: black;
}

.StudentList h2 {
    margin: 0 0 4px 0;
}
